body {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  margin: auto 0;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  width: 100%;
  position: fixed;
  background-color: black;
}
.logo {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  margin: 9px 10px;
}
nav span a {
  color: seashell;
}
.links {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}


/* all content */
.all-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  height: auto;
}

/* mission */
#section1 {
  background-image: url("../images/mission.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mission {
  background-color: black;
  padding: 10px auto;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.mission h2, .mission h4 {
  margin: 9px 0;
}

/* featured */

#featured {
  width: 1000px;
  margin: 50px auto;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1000px;
}

.item img {
  display: inline-flex;
  height: 200px;
  width: 300px;
  margin: 10px;
  padding: 0 0;
}

.item h4 {
  margin: 0 auto 10px auto;
}

/* locations */

#locations {
  background-image: url("../images/locations.jpg");
  height: 500px;
  width: 1200px;
  display: inline-inline-block;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 0;
  border: 1px solid green;
}

#locations h2 {
  margin: 45px auto 0 auto;
}

.localcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sites {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 300px;
  background-color: black;
  margin: 15px 20px;
  opacity: 1;
}

/* footer */

.contact {
  height: 200px;
  margin-top: 0;
}

.contact h2 {
  padding-top: 2px;
  padding-bottom: 10px;
  margin-top: 5px;
}
